* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  list-style-type: none;
  text-decoration: none;
}
